{
  "extends": [
    "airbnb-base",
    "airbnb-typescript/base",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "plugins": [
    "@typescript-eslint",
    "prefer-arrow"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "error",
    "@typescript-eslint/lines-between-class-members": ["error", "always", { "exceptAfterSingleLine": true }],
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/no-floating-promises": "warn",
    "@typescript-eslint/member-delimiter-style": ["error", {
      "multiline": {
        "delimiter": "semi",
        "requireLast": true
      },
      "singleline": {
        "delimiter": "semi",
        "requireLast": false
      }
    }],
    "@typescript-eslint/quotes": [
      "error",
      "single",
      { "allowTemplateLiterals": true }
    ],
    "@typescript-eslint/semi": ["error", "always", {
      "omitLastInOneLineBlock": true
    }],
    "@typescript-eslint/unbound-method": "off",
    "default-case": "warn",
    "import/no-cycle": "off",
    "import/no-deprecated": "warn",
    "import/prefer-default-export": "off",
    "linebreak-style": "off",
    "max-len": [
      "warn",
      {
        "code": 140,
        "ignoreUrls": true,
        "ignoreStrings": true,
        "ignoreComments": true
      }
    ],
    "no-await-in-loop": "warn",
    "no-continue": "warn",
    "no-param-reassign": ["error", { "props": false }],
    "no-plusplus": "off",
    "no-underscore-dangle": ["error", { "allowAfterThis": true }],
    "no-var": "error",
    "object-curly-newline": ["error", {
      "ObjectExpression": { "minProperties": 4, "multiline": true, "consistent": true },
      "ObjectPattern": { "minProperties": 4, "multiline": true, "consistent": true },
      "ImportDeclaration": { "minProperties": 6, "multiline": true, "consistent": true },
      "ExportDeclaration": { "minProperties": 6, "multiline": true, "consistent": true }
    }],
    "prefer-arrow/prefer-arrow-functions": [
      "warn",
      {
        "disallowPrototype": true,
        "singleReturnOnly": false,
        "classPropertiesAllowed": false
      }
    ],
    "prefer-destructuring": ["error", { "object": true, "array": false }]
  }
}
